body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 12px;    
}

.bellwork {
  background-color: black;
  color: white;
  font-family: times;
  font-size: 32px;    
}

#timer {
  background-color: black;
  color: red;
  font-family: monospace;
  font-size: 32px;    
}

.marg {
  margin: 5px;
}

button {
  border: none;
  color: black;
  background-color: #7777FF;
  font-size: 10px;
}

.picButt {
  background-color: #000000;
  color: #FFFFFF;
  margin: none;
  border: none;
}



#seatChartImg {
  width=100%;

}
