body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 12px;    
}

#currentagenda {
  background-color: black;
  color: white;
  font-family: times;
  font-size: 16px;    
}

#timer {
  background-color: black;
  color: red;
  font-family: monospace;
  font-size: 16px;
  margin: 10px;
}

.champs {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 12px;
  margin: 10px;
}


.marg {
  margin: 5px;
}

button {
  border: none;
  color: black;
  background-color: #7777FF;
  font-size: 10px;
}

.picButt {
  background-color: #000000;
  color: #FFFFFF;
  margin: none;
  border: none;
}

#imagebuttons, #loadingArea {
  margin: 10px;
  font-size: 20px;
}

#lessonimages {
  background-color: #FFFFFF;
}

.img {
  width: 100%;
}
